
.idea/.idea.MeansImplicitUseRepro/.idea/contentModel.xml
.idea/.idea.MeansImplicitUseRepro/.idea/indexLayout.xml
.idea/.idea.MeansImplicitUseRepro/.idea/modules.xml
.idea/.idea.MeansImplicitUseRepro/.idea/vcs.xml
.idea/.idea.MeansImplicitUseRepro/.idea/workspace.xml
.idea/.idea.MeansImplicitUseRepro/riderModule.iml
